<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="connection" value="server=localhost;user id=root;password=root;database=hotelmgtsystem;port=3307"/>
    <add key="TerminalId" value="1"/>
    <add key="AppManagerAssembly" value="../Main/ApplicationManager.dll"/>

  </appSettings>
  
</configuration>
