<?xml version="1.0"?>
<configuration>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>Nt7lr0YrBbC5+ykFcFwUe+KMFbG3uO7wXL6lcSUffMpWXbR3qANXjG5kl8IMCqx/XcczW9Pj4VVo04/LfcTBoNMwJcTQnUOvq6qCqKsBqJBjblYLFZ/21GeDVU3eQNt4IS/x7hTvWFA/db/8kWBjjlh1V3IjK4+jhINNbMjqc18=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>DNAvZyYd/L1s7HCj7VwXLn+9kB62D0vkzi6BOrPALNvhRLkOkFfAwsxv2CzEuoxHDxJnZqphP6zw6WTUw1xhAL4PoShtO2M57W4zi1YQM1FtVbGmN72D94ND98oxK1rASMR635cEjqMWj+DgAD8sIv+YQHD95ZXzPUE2eqXb3CklW5VuvuVgBw4tX5OovCXQr85r5e8qzg/UoKtgqJqck92QKlEYK1wjK/BToN0hcRnHy31FdgS/q8oMxpBxrRDg238BQ8nH0vuoF0m3u3xTqluHdRQavt9g5VgLfQOenWVvh3QYMk1bU7YurInUTVK681x+POIxa+6SjcnIJIblkRCHRdna2arbDUz+hzBK6qWY2KLZ/2xhRiZhDbG3U/ANqKBOnp1PW6VYplrc2xhuaPF91Dv//KxJkjahhsFQSkAGB9vHSMxuYdvC/QIfueTqy2SlkN75qU9ofySSu30LTQ==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  
</configuration>
