<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LicenseKey" value=""/>
  <add key="connection" value="server=localhost;user id=root;password=j1n15y5admin;database=eventmgtsystem;port=3307"/>
    <add key="TerminalId" value="1"/>
    <add key="AppManagerAssembly" value="../Main/ApplicationManager.dll"/>
  </appSettings>
  
</configuration>
