<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key = "connection" value = "server=localhost;user id=root;password=j1n15y5admin;database=hotelmgtsystem;port=3307" />
		<add key = "TimerInterval" value = "5000" />
		<add key = "user" value = "root" />

    <add key = "TranCodeLocalCall" value = "1100" />
    <add key = "TranCodeLocalCallSubAccount" value = "" />
    
    <add key = "TranCodeNDDCall" value = "1100" />
    <add key = "TranCodeNDDCallSubAccount" value = "IDD / NDD" />
    
    <add key = "TranCodeIDDCall" value = "1100" />
    <add key = "TranCodeIDDCallSubAccount" value = "IDD / NDD" />


  </appSettings>
</configuration>
